<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script defer src="./script.js"></script>
</head>
<body>
    <div class="SiteContent">
        <div class="Header">
            <div class="HeaderTop">
                <div class="Title">
                    <h4>Owen's Website</h4>
                </div>
                <div class="Clock">
                    <h5 id="clockTimezone">GMT+2</h1>
                    <h5 id="clockTime">00:00:00</h1>
                </div>
            </div>
            <div class="Navigation">
                <ul>
                    <li class="NavigationItems"><a href="./index.html">Home</a></li>
                    <li class="NavigationItems"><a href="./about.html">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>